.oneMovie {
	color: #ffffff;
	height: 100vh;
	padding: 1rem;
	display: flex;
	flex-direction: column;
	div {
		display: flex;
		margin-bottom: 10rem;

		img {
			width: 15rem;
			height: 25em;
			border-radius: 5%;
		}
		.info {
			display: flex;
			flex-direction: column;
			margin-left: 2rem;
			.titleOne {
				font-size: 2rem;
			}
			.titleTwo {
				font-size: 1.5rem;
				color: #c0c0c0;
			}
			p {
				margin-top: 2rem;
				font-size: 1.5rem;
			}
		}
	}
}

@media (min-width: 550px) {
	.oneMovie {
		max-width: 1200px;
		margin: 0 auto;
		div {
			max-width: 1200px;
			margin-left: 10%;
			margin-bottom: 7rem;	
		}
	}
}