.tendencias {
	display: grid;
	margin-top: 5rem;
	grid-template-columns: repeat(auto-fit, minmax(280px, 400px));
	justify-items: center;
	justify-content: center;
	// margin-top: 3rem;
	.tendenciasUnidad {
		margin-top: 4rem;
		img {
			width: 20rem;
		}
		p {
			margin-top: 1rem;
			text-align: center;
			color: #ffffff;
			font-size: 2rem;
		}
	}
}